# IDE
.idea/*
.tm_properties
.vscode

# Config
/local.config.json

# Temp
lib
node_modules
dist

# Misc
.DS_Store
.env.local
npm-debug.log*
lerna-debug.log
package.json.lerna_backup
.prettierignore
.prettierrc.js
jsconfig.json
tsconfig.tsbuildinfo
