.mainPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    text-align: center;

    &__image {
        margin-top: 20px;
    }
}
